<div class="container-fluid">
	<div class="row action">
		<button class="btn btn-primary pull-right">攻撃</button>
		<button class="btn btn-success pull-right">使う</button>
	</div>
	<div class="row">
		<div class="col-md-6 rival">
	 		<div class="col-md-2 userinfo">
	 			<div class="label label-info">HP</div>
	 			<div class="hp">9999</div>
	 			<div class="label label-info">Energy</div>
		 			<div class="energy">
		 				<div id="energy-1">
				 			<img src="img/fire.png" class="energy-icon img-circle">
				 			<span>✕ <span id="energy-num-1" class="energy-num">99</span></span>
				 		</div>
				 		<div id="energy-2">
				 			<img src="img/water.jpg" class="energy-icon img-circle">
				 			<span>✕ <span id="energy-num-2" class="energy-num">99</span></span>
				 		</div>
						<div id="energy-3">
				 			<img src="img/thunder.jpg" class="energy-icon img-circle">
				 			<span>✕ <span id="energy-num-3" class="energy-num">99</span></span>
				 		</div>
				 		<div id="energy-4">
				 			<img src="img/soil.jpeg" class="energy-icon img-circle">
				 			<span>✕ <span id="energy-num-4" class="energy-num">99</span></span>
				 		</div>
			 		</div>
	  			<!-- <img src="img/enemy.jpeg" class="img-responsive img-circle"> -->
	  		</div>
	  		<div class="col-md-10 card-area">
	  			<div id="rival-main" class="card main">
	  				<img src="img/fire.png" class="energy-icon img-circle">
	  				<img src="img/enemy.jpeg" class="img-responsive img-circle chara">
	  				<table class="table table-bordered">
						<tr class="active"><th>攻撃力</th><th>防御力</th></tr>
						<tr><td>999</td><td>999</td></tr>
					</table>
	  			</div>
	  			<div id="rival-sub-1" class="card sub">
	  			</div>
	  			<div id="rival-sub-2" class="card sub">
	  			</div>
	  			<div id="rival-sub-3" class="card sub">
	  			</div>
	  			<div id="rival-sub-4" class="card sub">
	  			</div>
	  		</div>
		</div>
		<div class="col-md-6 you">
	 		<div class="row">
				<div class="col-md-2 userinfo">
					<div class="label label-info">HP</div>
	 			<div class="hp">9999</div>
	 			<div class="label label-info">Energy</div>
		 			<div class="energy">
		 				<div id="energy-1">
				 			<img src="img/fire.png" class="energy-icon img-circle">
				 			<span>✕ <span id="energy-num-1" class="energy-num">99</span></span>
				 		</div>
				 		<div id="energy-2">
				 			<img src="img/water.jpg" class="energy-icon img-circle">
				 			<span>✕ <span id="energy-num-2" class="energy-num">99</span></span>
				 		</div>
						<div id="energy-3">
				 			<img src="img/thunder.jpg" class="energy-icon img-circle">
				 			<span>✕ <span id="energy-num-3" class="energy-num">99</span></span>
				 		</div>
				 		<div id="energy-4">
				 			<img src="img/soil.jpeg" class="energy-icon img-circle">
				 			<span>✕ <span id="energy-num-4" class="energy-num">99</span></span>
				 		</div>
			 		</div>
					<!-- <img src="img/pikachu.jpeg" class="img-responsive img-circle"> -->
				</div>
	  			<div class="col-md-10 card-area">
					<div id="main" class="card main">
		  				<img src="img/thunder.jpg" class="energy-icon img-circle">
		  				<img src="img/pikachu.jpeg" class="img-responsive img-circle chara">
		  				<table class="table table-bordered">
							<tr class="active"><th>攻撃力</th><th>防御力</th></tr>
							<tr><td>999</td><td>999</td></tr>
						</table>
		  			</div>
		  			<div id="sub-1" class="card sub">
		  				<img src="img/fire.png" class="img-circle">
		  				<p>
							ここに説明が書いてある。炎の属性を持つキャラクターの場合は、攻撃力が２倍になる的な。
						</p>
		  			</div>
		  			<div id="sub-2" class="card sub">
		  				<img src="img/fire.png" class="img-circle">
		  				<p>
							ここに説明が書いてある。炎の属性を持つキャラクターの場合は、攻撃力が２倍になる的な。
						</p>
		  			</div>
		  			<div id="sub-3" class="card sub">
		  				<img src="img/fire.png" class="img-circle">
		  				<p>
							ここに説明が書いてある。炎の属性を持つキャラクターの場合は、攻撃力が２倍になる的な。
						</p>
		  			</div>
		  			<div id="sub-4" class="card sub">
		  				<img src="img/fire.png" class="img-circle">
		  				<p>
							ここに説明が書いてある。炎の属性を持つキャラクターの場合は、攻撃力が２倍になる的な。
						</p>
		  			</div>
	  			</div>
	  		</div>
		</div>
  	</div>
</div>